<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <div class="row mb-3">
            <!-- Connect with Us -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Connect with Us</h5>
                <a href="https://facebook.com" class="me-2 text-info" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com" class="text-white mx-2" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://linkedin.com" class="text-primary mx-2" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://instagram.com" class="text-danger mx-2" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <!-- Newsletter -->
            <div class="col-md-8 mb-4">
                <h5 class="text-uppercase">Newsletter</h5>
                <p>Stay updated with our latest news and offers. Subscribe to our newsletter!</p>
                <a href="mailto:vvikram3312@gmail.com" class="btn btn-danger btn-md fw-bold">Feel free to mail</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <p class="mb-0">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 80px; max-height: 50px;" alt="Logo"> ConnectHub Influencer and Sponsor Platform.
                </p>
                <p>&copy; 2024 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
